/* ==========================================================================
 * Main Component CSS
 *
 * @project: React Speech App
 * @author: Andre Goncalves (andre@andregoncalves)
 * @copyright: 2018 Andre Gocalves
 * ==========================================================================
 */

 :root {
  --app-width: 450px;
  --app-height: 750px;
}

body {
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

div.app {
  width: var(--app-width);
  height: var(--app-height);
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

section.screen {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #fff;

  background: #1E384C;
  transition: background-color .3s;
  position: relative;

  color: rgb(50, 186, 250);
  background-color: rgb(30, 56, 76);
  color: rgba(255, 255, 255, 0.8);

  /* TODO: use css custom property --app-height */

  transition: transform 0.5s cubic-bezier(0,0,0.3,1);
  will-change: transform;
  transform: translateY( -750px );
}

div.copyright {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100vw;
  font-size: 12px;
  text-shadow: 1px 1px 1px #ccc;
  font-family: monospace
}

